<div class="container">
  <div class="notification">
        <h1><b>Create account</b></h1>

        <form action="/accounts/sign-up" method="POST" id="createAccountForm" name="createAccForm">

                <div>Username: <input type="text" name="username" id="username"></div>

                <div>Email: <input type="text" name="email" id="email"></div>

                <div>Password: <input type="password" name="password1" id="password1"></div>

                <div>Password (repeat): <input type="password" name="password2" id="password2"></div>

                <input type="submit" value="Create account">

        </form>
    </div>
</div>