<div class="container">
  <div class="notification">
    <h1><b>Login here</b></h1>
    <form action="/accounts/sign-in" method="POST" id="signInAccountForm" name="signInAccForm">
      <div>Your Username: <input type="text" name="username" id="username"></div>
      <div>Your Password: <input type="password" name="password1" id="password1"></div>
      <input type="submit" value="Sign in">
    </form>
  </div>
</div>
