<div class="container">
  <div class="notification">
        <h1><b>Create card</b></h1>

        <form action="/create-card" method="POST" id="createAccountForm" name="createAccForm">

                <div>Title on card: <input type="text" name="cardTitle" id="cardTitle"></div>

                <div>Description: <input type="text" name="cardDesc" id="cardDesc"></div>

                <input type="submit" value="Create card">

        </form>
    </div>
</div>
