<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Meet And Eat
      </h1>
    </div>
  </div>
</section>


{{#if model}}
  {{#each}}
    <p>Successfully created account with id: {{this}}</p>
  {{/each}}
{{/if}}

<!-- loop through all db cards here-->
<div class="columns is-mobile is-multiline is-2">
  {{#each cards}}
  <div class="column is-4">
    <div class="box">
      {{cardTitle}}
    </div>
  </div>
  {{/each}}
</div>
