<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hero title CUNT FUCKHEAD
      </h1>
      <h2 class="subtitle">
        <a href="/accounts/sign-up">Sign up</a>
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">BANNER</h1>
    <h2 class="subtitle">
      CUNT A simple KHEAD container PENIS to divide your cunt page CUNT  into <strong>sections</strong>, like the one CUNT you're currently reading CUNT
    </h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">TABS</h1>
    <h2 class="subtitle">

    </h2>
  </div>
</section>

<!-- loop through all db cards here-->
<div class="columns is-mobile is-multiline is-2">
  {{#each cards}}
  <div class="column is-4">
    <div class="box">
      {{cardTitle}}
    </div>
  </div>
  {{/each}}
</div>
