<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hero title CUNT
      </h1>
      <h2 class="subtitle">
        Hero subtitle CUNT
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">BANNER</h1>
    <h2 class="subtitle">
      CUNT A simple KHEAD container PENIS to divide your cunt page CUNT  into <strong>sections</strong>, like the one CUNT you're currently reading CUNT
    </h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">TABS</h1>
    <h2 class="subtitle">
      reading yeah
    </h2>
  </div>
</section>

<div class="columns">
  <div class="column">
    First column
  </div>
  <div class="column">
    Second column
  </div>
  <div class="column">
    Third column
  </div>
  <div class="column">
    Fourth column
  </div>
</div>