<section class="hero is-success">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Success!
            </h1>
            <h2 class="subtitle">
                <ul>
                {{#each model}}
                    <li>Created account with ID: {{this}}</li>
                {{/each}}
                </ul>
            </h2>
         </div>
    </div>
</section>