<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-full">
        <h1 class="black-text">Meet And Eat platform | Developed by Fredric & Joakim | Web development advanced concepts</h1>
      </div>
    </div>
  </div>
</footer>

