<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"></script>
</head>
<body>
  <nav class="header-section navbar is-transparent">
    Amanda Hammarström i navigatorn
  </nav>
  <section class="index-section">
    {{{body}}}
  </section>
  <footer>
    Amanda Hammarström i footern
  </footer>
</body>
</html>
