<!DOCTYPE html>
<html>
<head>
  {{>head}}
</head>
<body>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      hej
    </nav>
  </div>
  <section>
    {{{body}}}
  </section>
  <footer>
    Amanda Hammarström i footern
  </footer>
</body>
</html>
