<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>
<body>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      hej

    </nav>
  </div>
  <section>
    {{{body}}}
  </section>
  <footer class="">
    Amanda Hammarström i footern
  </footer>
</body>
</html>
